{% extends "base.html" %}

{% block content %}
<div class='jumbotron'>
    <h1>Simple Django App</h1>

    <div class="para">
    Bardzo prosta aplikacja w Django korzystająca z bibliotek:
    <ul>
        <li><a href="https://www.djangoproject.com/">Django</a></li>
        <li><a href="https://www.jquery.com">JQuery</a></li>
        <li><a href="https://www.getbootstrap.com">Bootstrap</a></li>
        <li><a href="http://wenzhixin.net.cn/p/bootstrap-table/docs/">Bootstrap table</a></li>
    </ul>
    </div>

</div>
{% endblock %}