{% extends "base.html"  %}
{% load staticfiles %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static "bootstrap-table-1.5.0/bootstrap-table.min.css" %}">
    <script src="{% static "bootstrap-table-1.5.0/bootstrap-table.min.js" %}"></script>
{% endblock %}

{% block content %}
<h1>Books list</h1>

<table data-toggle="table" data-url="{% url "books_list_json" %}" data-cache="false">
    <thead>
        <tr>
            <th data-field="id" data-sortable="true">Id</th>
            <th data-field="author" data-sortable="true">Author</th>
            <th data-field="title" data-sortable="true">Title</th>
            <th data-field="id" data-formatter="formatOps"></th>
        </tr>
    </thead>
</table>

<script>
var BOOK_URL="{% url "book_info" id="0" %}";
function formatOps(id) {
    var res='';
    res += '<a class="btn btn-default btn-xs" href="'+BOOK_URL.replace("0",id)+'" role="button">Info</a>';
    res += ' ';
    res += '<a class="btn btn-default btn-xs" href="#" role="button">Borrow</a>';
    return res;
}
</script>

{% endblock %}