{% extends "base.html" %}

{% block content %}
<h1>Create Book</h1>

<form action="." method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit" />
</form>
{% endblock %}