{% extends "base.html" %}

{% block content %}
<h1>Book {{book.id}}</h1>

<div class="para">
    <div class="row">
        <label class="col-sm-1 control-label">Title</label>
        <span class="col-sm-11">{{book.title}}</span>
    </div>

    <div class="row">
        <label class="col-sm-1 control-label">Author</label>
        <span class="col-sm-11">{{book.author}}</span>
    </div>

    <div class="row">
        <label class="col-sm-1 control-label">Status</label>
        <span class="col-sm-11">
            {% if book.available %}AVAILABLE{% else %}BORROWED{% endif %}
        </span>
    </div>

</div>
{% endblock %}