{% extends "base.html"  %}
{% load staticfiles %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static "bootstrap-table-1.5.0/bootstrap-table.min.css" %}">
    <script src="{% static "bootstrap-table-1.5.0/bootstrap-table.min.js" %}"></script>
{% endblock %}

{% block content %}
<h1>Borrowed books list</h1>

<table data-toggle="table" data-url="{% url "borrowed_list_json" %}" data-cache="false">
    <thead>
        <tr>
            <th data-field="book_id" data-sortable="true">Book id</th>
            <th data-field="person_id" data-sortable="true">Person id</th>
            <th data-field="borrowed_at" data-sortable="true">Borrowed</th>
            <th data-field="returned_at" data-sortable="true">Returned</th>
            <th data-field="id" data-formatter="formatOps"></th>
        </tr>
    </thead>
</table>

<script>
function formatOps(id,row) {
    if (row['returned_at']) return '';
    else return '<a class="btn btn-default btn-xs" href="#" role="button">Return</a>';
}
</script>

{% endblock %}