{% extends "base.html" %}

{% block content %}
<div class='jumbotron'>
<h1>Library home</h1>

<a class="btn btn-default" href="{% url "books_list" %}">Books list</a>

<a class="btn btn-default" href="{% url "persons_list" %}">People list</a>

<a class="btn btn-default" href="{% url "borrowed_list" %}">Borrowed books list</a>

<a class="btn btn-default" href="{% url "book_create" %}">Add book</a>

</div>
{% endblock %}