{% extends "base.html"  %}
{% load staticfiles %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static "bootstrap-table-1.5.0/bootstrap-table.min.css" %}">
    <script src="{% static "bootstrap-table-1.5.0/bootstrap-table.min.js" %}"></script>
{% endblock %}

{% block content %}
<h1>People list</h1>

<table data-toggle="table" data-url="{% url "persons_list_json" %}" data-cache="false">
    <thead>
        <tr>
            <th data-field="id" data-sortable="true">Id</th>
            <th data-field="pesel" data-sortable="true">PESEL</th>
            <th data-field="first_name" data-sortable="true">First name</th>
            <th data-field="last_name" data-sortable="true">Last name</th>
        </tr>
    </thead>
</table>

<script>
</script>

{% endblock %}