{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}MyApp{% endblock %}</title>
    <link rel="stylesheet" href="{% static "bootstrap-3.2.0-dist/css/bootstrap.min.css" %}" >
    <link rel="stylesheet" href="{% static "bootstrap-3.2.0-dist/css/bootstrap-theme.min.css" %}">
    <script src="{% static "jquery-1.11.2/jquery-1.11.2.min.js" %}"></script>
    <script src="{% static "bootstrap-3.2.0-dist/js/bootstrap.min.js" %}"></script>
    {% block extrahead %}{% endblock %}
</head>
<body>
{% block body %}

   {% block nav %}
   <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url "home" %}">MyApp</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li {% if in_home %}class="active"{% endif %}><a href="{% url "home" %}">Home</a></li>
            <li class="dropdown {% if in_library %}active{% endif %}">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Library <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="{% url "library_home" %}">Library home</a></li>
                  <li><a href="{% url "books_list" %}">Books</a></li>
                  <li><a href="{% url "persons_list" %}">People</a></li>
                  <li><a href="{% url "borrowed_list" %}">Borrowed books</a></li>
                  <li class="divider"></li>
                  <li><a href="{% url "book_create" %}">Add book</a></li>
                  <li><a href="#">Add person</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Borrow book</a></li>
                  <li><a href="#">Return book</a></li>
                </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    {% endblock nav %}

    {% block container %}
    <div class="container" style="padding: 70px 15px;">

        {% block content %}
          <div class="starter-template">
            <h1>Bootstrap starter template</h1>
            <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
          </div>
        {% endblock %}

    </div><!-- /.container -->
    {% endblock container %}

{% endblock body %}
</body>
</html>
